<!DOCTYPE html>
<html>
<head>
  <title>Your MBTA</title>

  <style>
  body { background-color: #1F3D4C;
      background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/6/64/MBTA.svg/500px-MBTA.svg.png");
      background-repeat: no-repeat;
      background-position: right top}

  h1   {color:black}
  p    {color:black}
</style>
</head>

<body>
  <h1 align="left" style="font-size:50px">Welcome to Your MBTA!</h1>
  <p align="left" style="font-size:40px">Need to vent about that train or T ride?</p>
  <p align="left" style="font-size:30px">1. Write about your most recent experience .</p>
  <p align="left" style="font-size:30px">2. Read what other's have to say.</p>
  <p align="left" style="font-size:30px">3. Enjoy!</p>

  <%= link_to 'Service Alerts', controller: 'lines' %>
  <%= link_to 'Vent Here', controller: 'comments' %>


</body>

</html>
