<!DOCTYPE html>
<html>
<head>
  <title>Your MBTA</title>

  <style>
  body { background-color: #1F3D4C;
      background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/6/64/MBTA.svg/500px-MBTA.svg.png");
      background-repeat: no-repeat;
      background-position: right top}
  h1   {color:black}
  p    {color:black}
</style>
</head>

<body>
  <h1 align="left" style="font-size:50px">Welcome to Your MBTA!</h1>
  <p align="left" style="font-size:30px">1. Choose your line.</p>
  <p align="left" style="font-size:30px">2. Write about your experience.</p>
  <p align="left" style="font-size:30px">3. Read what other's have to say.</p>
  <p align="left" style="font-size:30px">4. Enjoy!</p>

  <button type="big button">Red</button>
  <button type="big button">Blue</button>
  <button type="big button">Green</button>
  <button type="big button">Orange</button>


</body>

</html>
