<!DOCTYPE html>

<h1>All Comments</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.title %></td>
      <td><%= comment.body %></td>
    </tr>


  <% end %>
</table>
