<!DOCTYPE html>
<html>
<head>
  <title>Lines</title>
</head>
<body>
  <h1>Pick Your Line for Service Alert Updates</h1>
  <ul>
    <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Blue+Line#details">Blue Line</a>
    <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Green+Line#details">Green Line</a>
    <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Red+Line#details">Red Line</a>
    <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Orange+Line#details">Orange Line</a>
    <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Silver+Line#details">Silver Line</a>
   </ul>



</body>
</html>
