<!DOCTYPE html>
<html>
<head>
  <title>Lines</title>
</head>
<body>
  <h1>Pick Your Line</h1>
  <ul>
    <% @lines.each do |line| %>
      <li><%= line %></li>
      <% end %>
  </ul>

</body>
</html>
