<!DOCTYPE html>
<html>
<head>
  <title>Lines</title>
</head>
<body>
  <h1>Pick Your Line</h1>
    <ul>
    <li>Red Line</li>
    <li>Green Line</li>
    <li>Orange Line</li>
    <li>Blue Line</li>
    </ul>

</body>
</html>
