<!DOCTYPE html>
<html>
<head>
  <title>Lines</title>
  <style>
  body { background-color: #1F3D4C;
      background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/6/64/MBTA.svg/500px-MBTA.svg.png");
      background-repeat: no-repeat;
      background-position: right top}

  h1   {color:black}
  p    {color:black}

    a:link {
    color:#000000;
    background-color:transparent;
    text-decoration:underline;
}
a:visited {
    color:#000000;
    background-color:transparent;
    text-decoration:underline;
}
a:hover {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}

  </style>
</head>
<body>
  <h1>Want Some Bad News?</h1>
  <h2>Pick Your Poison...</h2>
  <ul>
    <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Blue+Line#details">Blue Line</a>
    <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Green+Line#details">Green Line</a>
    <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Red+Line#details">Red Line</a>
    <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Orange+Line#details">Orange Line</a>
    <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Silver+Line#details">Silver Line</a>
   </ul>



</body>
</html>
